@import "tailwindcss";

html, body {
    background: transparent;
    color: white;
}


button {
    cursor: pointer;
}

button:hover {
    opacity: 80%;
}

aside {
    background-color: #181818;
    opacity: 80%;
}